.main-container {
  width: 100vw;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-size);
  overflow: hidden;
}

.header {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: var(--gap-size);
}

.header__logo {
  justify-self: start;

  &>img {
    height: 100%;
  }
}

.header__turn {
  width: 100%;
  height: 100%;
}

.header__turn-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--grid-color);
  border-radius: var(--border-rounded-size);
  box-shadow: 0px 5px var(--grid-shadow);
}

.header__turn-icon {
  height: 1.2rem;
}

.header__turn-text {
  text-transform: uppercase;
  color: var(--reset-color);
  font-size: 1.2rem;
}

.header__retry {
  height: calc(100% - 5px);
  justify-self: end;
  display: grid;
  place-content: center;
  padding: 4px;
  border: none;
  outline: none;
  border-radius: var(--border-rounded-size);
  box-shadow: 0px 5px var(--reset-shadow);
  background-color: var(--reset-color);
  width: calc(50% - 5px);

  &>img {
    height: 100%;
    width: 100%;
  }
}

.game-board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: var(--gap-size);
}

.game-board__cell {
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--grid-color);
  outline: none;
  border: none;
  border-radius: var(--border-rounded-size);
  box-shadow: 0px 4px var(--grid-shadow);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-board__cell-active {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &>img {
    height: 80%;
  }
}

.game-board__cell-active2 {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &>img {
    height: 80%;
  }
}

.score-board {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-size);
  font-size: 1.2rem;
}

.score-board__player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-rounded-size);
  padding: 10px 0px;
}

.score-board__player-name {
  text-transform: uppercase;
}

.score-board__draw {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--draw-color);
  border-radius: var(--border-rounded-size);
  padding: 10px 0px;
}

.score-board__draw-label {
  text-transform: uppercase;
}

.score-board__player-1 {
  background-color: var(--x-player-color);
}

.score-board__player-2 {
  background-color: var(--o-player-color);
}

@media screen and (min-width: 500px) {
  .main-container {
    max-width: 350px;
    margin: 0 auto;
  }

  .header__turn-text {
    font-size: 1rem;
  }

  .score-board {
    font-size: 1rem;
  }
}